.layout_box {
	overflow-y: auto;
	
}
.site-layout .layout_content_bg {
	background: url("data:image/svg+xml,%3Csvg width='200' height='200' xmlns='http://www.w3.org/2000/svg'%3E%3Ctext x='50%25' y='50%25' font-size='14' fill-opacity='0.1' text-anchor='middle' dominant-baseline='middle' transform='rotate(-30, 100 100)'%3E蔡甸城投%3C/text%3E%3C/svg%3E");
}
/* 
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1258px" height="960px">
    <image width="100%" height="100%" x="0" y="0" stroke="black" xlink:href="http://jtl3d.oss-cn-hangzhou.aliyuncs.com/contents/54c89316-bcf7-59f1-934b-9314429f5b7a/top.png">
    </image>
</svg> */

.site-layout .site-layout-content {
	margin: 10px auto 20px;
	width: 90vw;
	max-width: 1200px;
	min-height: 480px;
	flex: none;
}
.userType_option2 {
	width: 100%;
	text-align: center;
}
.userType_option2_1 {
	margin-bottom: 10px;	
}