.layout_box {
	overflow-y: auto;
}

.site-layout .site-layout-content {
	margin: 10px auto 20px;
	max-width: 1500px;
	min-height: 480px;
	flex: none;
}
.userType_option2 {
	width: 100%;
	text-align: center;
}
.userType_option2_1 {
	margin-bottom: 10px;	
}