.project_page {
    width: 90vw;
    padding: 20px;
    .project_statistic {
        // border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        padding: 30px 20px;
        text-align: center;
    }
    .btns_box {
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
    }
}
.project_add_content {
    .remarks {
        padding-top: 6px;
    }
    .form_btns {
        padding-top: 20px;
    }
    .form_btns_save {
        margin-right: 10px;
    }
}