.homeStyle {
    width: 90vw;
    padding: 0 20px;
    .contentStyle {
        height: 350px;
        color: #fff;
        line-height: 350px;
        font-size: 24px;
        font-weight: 500;
        text-align: center;
        background: #364d79;
    }
    .home_left {
        // flex: 3;
        // margin-right: 10px;
    }
    .home_right {
        // flex: 4;
        min-width: 300px;
        margin-bottom: 10px;
    }
    
    .banner_box {
        width: 100%;
        background-color: #fff;
        margin-bottom: 10px;
    }

    .sound_box {
        height: 350px;
        padding: 10px 10px 0 20px;
        font-weight: 500;
        overflow: hidden;
        .sound_box_title {
            height: 34px;
            padding-bottom: 10px;
            // border-bottom: 1px solid #eee;
            margin-bottom: 10px;
        }
        .sound_info {
            margin-bottom: 10px;
        }
        .sound_box_content {
            height: 350px - 44px;
            overflow-y: scroll;
            .sound_box_content_box {
                margin-bottom: 10px;
            }
            .sound_box_content_header {
                font-size: 16px;
                font-weight: 700;
                margin-bottom: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .sound_box_content_desc {
                font-size: 14px;
                color: #999;
            }
        }
    }
    .sound_icon {
        font-size: 20px;
        margin-right: 5px;
        vertical-align: text-top;
    }
    .home_content_option1 {
        padding: 10px;
        background-color: #fff;
        margin-bottom: 10px;
        .home_content_option1_title {
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
            // border-bottom: 1px solid #eee;
        }
    }
    .home_content_option1_title_icon {
        color: #aaa;
        margin-right: 6px;
    }
    .icon_list {
        border-radius: 5px;
        margin-bottom: 10px;
        text-align: center;
        cursor: pointer;
        .icon_list_item {
            height: 60px;
            width: 60px;
            margin: 0 auto;
            display: flex;
            font-size: 28px;
            color: #fff;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            margin-bottom: 10px;
        }
    }
    .home_content_option2 {
        padding: 10px;
        background-color: #fff;
        margin-bottom: 10px;
        .home_content_option2_title {
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 10px;
            padding-bottom: 10px;
            // border-bottom: 1px solid #eee;
        }
        .home_content_option2_list {
            min-height: 300px;
            max-height: 500px;
            overflow-y: auto;
            .ant-list-item {
                border-bottom: 1px dashed #f0f0f0;
            }
        }
    }
    .option_3 {
        overflow: hidden;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .option_3_item {
        background-color: #fff;
        .option_3_item1_title {
            font-size: 20px;
            font-weight: 500;
            padding-top: 10px;
            padding-left: 10px;
        }
        .option_3_item1_content {
            display: flex;
            padding-top: 20px;
            padding-left: 20px;
            .option_3_item1_content_left {
                height: 100%;
                flex: 1;
            }
            .option_3_item1_content_left_title {
                font-size: 16px;
                font-weight: 500;
                .option_3_item1_content_left_title_icon {
                    margin-right: 10px;
                }
            }
            .option_3_item1_content_text {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-top: 40px;
            }
            .option_3_item1_content_right {
                flex: 1;
            }
            .option_3_item1_content_right_title {
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 20px;
                .option_3_item1_content_right_title_icon {
                    margin-right: 10px;
                }
            }
        }
    }
}
